@page "/audit"
@inject Blazored.SessionStorage.ISessionStorageService session
@using LearnOnline.Models
@inject NavigationManager NavigationManager

<ul id="list-products">
    <div class="col-12 new">
        <h3>Bài tập</h3>
    </div>
    <div style="height: 100px">
        <br />
        <br />
    </div>
    <div class="item">
        <a href="/audit/reading">
            <img class="media-img" src="../image/reading.jpg" style="height:100px;width:200px" alt="">
        </a>
        <div class="name">Reading</div>
        <div class="price">Làm bài</div>
    </div>

    <div class="item">
        <a href="/audit/listening">
            <img class="media-img" src="../image/listening.png" style="height:100px;width:200px" alt="">
        </a>
        <div class="name">Listening</div>
        <div class="price">Làm bài</div>
    </div>

    <div class="item">
        <a href="/audit/speaking">
            <img class="media-img" src="../image/speaking.jpg" style="height:100px;width:200px" alt="">
        </a>
        <div class="name">Speaking</div>
        <div class="desc"></div>
        <div class="price">Làm bài</div>
    </div>

    <div class="item">
        <a href="/audit/writing">
            <img class="media-img" src="../image/writing.png" style="height:100px;width:200px" alt="">
        </a>
        <div class="name">Writing</div>
        <div class="price">Làm bài</div>
    </div>
</ul>

@user
<style>
    .new {
        text-align: center;
    }
</style>
@code {
    private UserLogin userLogin;
    private string user;
    protected override async void OnInitialized()
    {
        user = await session.GetItemAsync<string>("SessionUser");
        if (user == null)
        {
            NavigationManager.NavigateTo("/login");
        }
    }

}
