@page "/audit"
<h3>Audit</h3>

<div id="wp-products">
    <h2>Bài tập</h2>
    <ul id="list-products">
        <div class="item">
            <a href="/audit/reading">
                <img class="media-img" src="../image/reading.jpg" style="height:100px;width:200px" alt="">
            </a>
            <div class="name">Reading</div>
            <div class="desc">Mô Tả Ngắn </div>
            <div class="price">Làm bài</div>
        </div>

        <div class="item">
            <a href="/audit/listening">
                <img class="media-img" src="../image/listening.png" style="height:100px;width:200px" alt="">
            </a>
            <div class="name">Listening</div>
            <div class="desc">Mô Tả Ngắn </div>
            <div class="price">Làm bài</div>
        </div>

        <div class="item">
            <a href="/audit/speaking">
                <img class="media-img" src="../image/speaking.jpg" style="height:100px;width:200px" alt="">
            </a>
            <div class="name">Speaking</div>
            <div class="desc"></div>
            <div class="price">Làm bài</div>
        </div>

        <div class="item">
            <a href="/audit/writing">
                <img class="media-img" src="../image/writing.png" style="height:100px;width:200px" alt="">
            </a>
            <div class="name">Writing</div>
            <div class="price">Làm bài</div>
        </div>


    </ul>
</div>
@code {

}
