@page "/changePassword"
@inject HttpClient _httpClient;
@inject Blazored.SessionStorage.ISessionStorageService session
@inject NavigationManager NavigationManager
<div class="login">
    <div class="text-center">
        <h2>Đổi mật khẩu</h2>
    </div>

    <EditForm Model="request" OnValidSubmit="ChangePassword2">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <InputText id="password" @bind-Value="request.Password" class="form-control col-3 m-auto" placeholder="Password" type="password" />
            <ValidationMessage For="@(() => request.Password)" />
        </div>
        <div class="mb-3">
            <InputText id="password" @bind-Value="request.ConfirmPassword" class="form-control  col-3 m-auto" placeholder="Confirm Password" type="password" />
            <ValidationMessage For="@(() =>request.ConfirmPassword)" />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </EditForm>
    @message
</div>

@code {
    private string user;
    UserChangePassword request = new UserChangePassword();
    string message = string.Empty;

    private async Task ChangePassword2()
    {
        user = await session.GetItemAsync<string>("SessionUser");
        user = user.Split("@")[0];
        request.UserName = user;
        var result = await _httpClient.PostAsJsonAsync("api/auth/change-password", request);
        var x = await result.Content.ReadFromJsonAsync<ServiceResponse<bool>>();

        message = x.Message;
        if (x.Data)
        {
            NavigationManager.NavigateTo("history", true);
        }
    }
}
