@page "/audit/listening1"
<div id="wp-products">
    <h2>Danh sách bài test kĩ năng Listening</h2>
    <ul id="list-products">
        <div class="item">
            <img src="../image/listening.png" style="height:100px;width:200px" alt="">
            <div class="name">Water hyacinth</div>
            <div class="price">Test</div>
        </div>

        <div class="item">
            <img src="../image/listening.png" style="height:100px;width:200px" alt="">
            <div class="stars">
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
            </div>

            <div class="name">Early history of salt</div>
            <div class="price">Test</div>
        </div>

        <div class="item">
            <img src="../image/listening.png" style="height:100px;width:200px" alt="">
            <div class="stars">
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
            </div>

            <div class="name">Building Work</div>
            <div class="price">Test</div>
        </div>

        <div class="item">
            <img src="../image/listening.png" style="height:100px;width:200px" alt="">
            <div class="stars">
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
            </div>

            <div class="name">A study on learning persistence</div>
            <div class="price">Test</div>
        </div>

        <div class="item">
            <img src="../image/listening.png" style="height:100px;width:200px" alt="">
            <div class="stars">
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
            </div>

            <div class="name">Research on birds in Australia</div>
            <div class="price">Test</div>
        </div>


    </ul>
</div>

@code {

}
