@page "/new/{id:int}"

@using System.Linq
@using LearnOnline.Models
@inject INewService NewService
@inject HttpClient _client

<div class="container ">
    <div class="col-12 new">
        <div class="name"> <h3> <b>@newItem?.Title</b></h3></div>
    </div>

    <img src="../image/@newItem?.Image" style="height:500px;width:500px;margin-left: 25%;" alt="">

    <div class="name">@newItem?.Description</div>
</div>
<style>
    .new {
        text-align: center;
    }
</style>
@code {
    private static List<New> News = new List<New>();
    private New newItem = null;
    [Parameter]
    public int Id { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        var result = await NewService.GetNewById(Id);
        newItem = result.Data;
        var x = 1;
    }
}