@page "/new"
@using LearnOnline.Models
@inject HttpClient _httpClient;
<h3>New</h3>
<ul id="list-products">
    @foreach (var item in News)
    {
        <div class="item">
             <a href="/new/@item.Id">
             <img class="media-img" src="../image/@item.Image" style="height:100px;width:200px" alt="">
            </a>>
            <div class="stars">
                <span>
                    <img  src="assets/star.png" alt="">
                </span                                                                                                                                                                                            
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
                <span>
                    <img src="assets/star.png" alt="">
                </span>
            </div>

            <div class="name">@item.Title</div>
            <div class="price">Xem</div>
        </div>
    }
</ul>
@code {
    private static List<New> News = new List<New>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetFromJsonAsync<ServiceResponse<List<New>>>("api/New");
        if (response != null && response.Data != null)
            News = response.Data;
        
    }
}
