@page "/audit/reading/{id:int}"
@using LearnOnline.Models
@using LearnOnline.Models.Entities
@inject IPartService partService
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager

<div>
    <div id="nav">
        <a href="/new">Tin tức mới nhất</a>
        <br />
        <a href="/audit/listening">Test Listening</a>
        <br />
        <a href="/audit/reading">Test Reading</a>
    </div>

    <div id="section">
        @foreach (var item in Parts)
        {
            <p>@item.Title</p>
            <img src="../image/@item.Image" style="height:auto;width:auto" alt="">
            <img src="../image/@item.Image1" style="height:auto;width:auto" alt="">
        }

        <EditForm Model="answer" OnValidSubmit="Handle">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <InputText id="result1" @bind-Value="answer.Result1" class="form-control col-3" placeholder="1" />
            </div>
            <div class="mb-3">
                <InputText id="result2" @bind-Value="answer.Result2" class="form-control col-3 " placeholder="2" />
            </div>
            <div class="mb-3">
                <InputText id="result3" @bind-Value="answer.Result3" class="form-control col-3 " placeholder="3" />
            </div>
            <div class="mb-3">
                <InputText id="result4" @bind-Value="answer.Result4" class="form-control col-3 " placeholder="4" />
            </div>
            <div class="mb-3">
                <InputText id="result5" @bind-Value="answer.Result5" class="form-control col-3" placeholder="5" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Chek</button>
                <a class="btn btn-primary" href="/audit/reading">Quay Lại</a>
            </div>

            <div class="@messageCssClass">
                <span>@message</span>
            </div>
        </EditForm>

    </div>
</div>

<style>
    #nav {
        line-height: 30px;
        background-color: #eeeeee;
        height: 300px;
        width: 25%;
        float: left;
        padding: 5px;
    }

    #section {
        width: 65%;
        float: left;
        padding: 10px;
    }
</style>
@code {
    string message = string.Empty;
    string messageCssClass = string.Empty;
    string record = string.Empty;
    string image = string.Empty;
    int count = 5;
    [Parameter]
    public int Id { get; set; }
    AnswerDto answer = new AnswerDto();
    private static Part parts = new Part();
    private static List<Part> Parts = new List<Part>();
    private static List<Answer> Answers = new List<Answer>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetFromJsonAsync<ServiceResponse<List<Part>>>($"api/Part/PartId?PartId={Id}");
        var x = response.Data;
        Parts = x.Where(x => x.SkillId == 1).ToList();
    }
    async Task HandleBack()
    {
        NavigationManager.NavigateTo("/audit/reading");
    }
    async Task Handle()
    {
        var result = 0;
        var x = answer;
        var answers = await _httpClient.GetFromJsonAsync<ServiceResponse<List<Question>>>($"api/Question/{Id}");
        if (answer.Result1.ToLower() != "" && answers.Data[0].Result.ToLower().Contains(answer.Result1.ToLower()))
        {
            result++;
        }
        if (answer.Result2.ToLower() != "" && answers.Data[1].Result.ToLower().Contains(answer.Result2.ToLower()))
        {
            result++;
        }
        if (answer.Result3.ToLower() != "" && answers.Data[2].Result.ToLower().Contains(answer.Result3.ToLower()))
        {
            result++;
        }
        if (answer.Result4.ToLower() != "" && answers.Data[3].Result.ToLower().Contains(answer.Result4.ToLower()))
        {
            result++;

        }
        if (answer.Result5.ToLower() != "" && answers.Data[4].Result.ToLower().Contains(answer.Result5.ToLower()))
        {
            result++;
        }
        message = "Kết quả:" + result + "/" + $"{count}";
        result = 0;

    }
}
