@page "/audit/speaking"
@using LearnOnline.Models
@using LearnOnline.Models.Entities
@using LearnOnline.Web.Services.CategoryService
@inject ICategoryService CategoryService
@inject HttpClient _httpClient
@inject IPartService partService


<div id="wp-products">
    <h2>Danh sách bài test kĩ năng Speaking</h2>
    <ul id="list-products">
        @foreach (var item in Parts)
        {
            <div class="item">
                <a href="/audit/speaking/@item.Id">
                    <img class="media-img" src="../image/speaking.jpg" style="height:100px;width:200px" alt="">
                </a>
                <div class="name">@item.Title</div>
            </div>
        }
    </ul>
</div>

<style>
    #nav {
        line-height: 30px;
        background-color: #eeeeee;
        height: 300px;
        width: 25%;
        float: left;
        padding: 5px;
    }

    #section {
        width: 65%;
        float: left;
        padding: 10px;
    }

    #list-products .item {
        width: 290px;
        height: 200px !important;
        background: #362f2f;
        border-radius: 10px;
        margin-bottom: 50px;
    }
</style>
@code {
    string message = string.Empty;
    string messageCssClass = string.Empty;
    int partId = 1;
    int count = 5;
    string value = "answer.Result";
    AnswerDto answer = new AnswerDto();
    private static List<Part> Parts = new List<Part>();

    private static List<Category> Categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        var responsePart = await partService.GetParts();
        Parts = responsePart.Data;
        //get list speaking
        Parts = Parts.Where(x => x.SkillId == 3).ToList();
        var response = await _httpClient.GetFromJsonAsync<List<Category>>("api/Category");
        Categories = response;
    }
}
