@inherits LayoutComponentBase
<link href="../admin/styles.css" rel="stylesheet" />
<link href="../admin/custom.css" rel="stylesheet" />
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a role="button" class="nav-link" href="/admin/question">
                        <div class="sb-nav-link-icon"><i class="oi oi-dashboard"></i></div>
                        Question
                    </a>
                    <a role="button" class="nav-link" href="/admin/category">
                        <div class="sb-nav-link-icon"><i class="oi oi-justify-cente"></i></div>
                        Category
                    </a>
                    <a role="button" class="nav-link" href="/admin/new">
                        <div class="sb-nav-link-icon"><i class="oi oi-justify-cente"></i></div>
                        News
                    </a>
                    <a role="button" class="nav-link" href="/admin/learn">
                        <div class="sb-nav-link-icon"><i class="oi oi-justify-cente"></i></div>
                        Learns
                    </a>

                    <a role="button" class="nav-link" href="/admin/user">
                        <div class="sb-nav-link-icon"><i class="oi oi-list"></i></div>
                        User
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                @Body
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                </div>
            </div>
        </footer>
    </div>
</div>

