@page "/admin/category"
@layout AdminLayout
@using LearnOnline.Models
@using LearnOnline.Models.Entities
@inject IPartService partService
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager
<h3>Categories</h3>
<button class="btn btn-primary float-end" @onclick="CreateCategory">
    <i class="oi oi-plus"></i> Create Category
</button>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Name</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= categories.Count; i++)
        {
            var x = @categories[i - 1].Id;
            <tr>
                <td>@i</td>
                <td>@categories[i-1].CategoryName</td>
                <td>Willpower</td>
                <td>
                    <button class="btn btn-primary">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    public int index = 1;
    private static List<Category> categories = new List<Category>();
    protected override async Task OnInitializedAsync()
    {
        //var response = await partService.GetParts();
        // Parts = partService.Parts;
        var response = await _httpClient.GetFromJsonAsync<List<Category>>("api/Category");
        categories = response;
    }
    void CreateCategory()
    {
        NavigationManager.NavigateTo("admin/CreateCategory");
    }
    void EditProduct(int productId)
    {
        NavigationManager.NavigateTo("admin/CreateReading");
    }
    void DA(int productId)
    {
        NavigationManager.NavigateTo($"admin/createAnswer/{productId}");
    }
 }

