@page "/admin/CreateReading2"
@using LearnOnline.Web
@using LearnOnline.Web.Services
@using System.IO
@layout AdminLayout
@inject UploadFile uploadFile

<h3>CreateFile</h3>
<InputFile OnChange="OnInputFileChange" multiple></InputFile>
@*<SfUploader AllowMultiple="false">
    <UploaderEvents ValueChange="OnInputFileChange" OnRemove="OnRemove">
    </UploaderEvents>
</SfUploader>*@
<button class="btn btn-succes" @onclick="FileUpload">save</button>
<br>
<label>@labelText</label>

@if (iamgeDataUrls != null && iamgeDataUrls.Count > 0)
{
    <div>
        @foreach (var img in iamgeDataUrls)
        {
            <audio controls="controls" autobuffer="autobuffer" autoplay="autoplay">
                <source src="@img">
            </audio>
        }
    </div>
}
@code {
    string labelText = "";
    List<string> iamgeDataUrls = new List<string>();
    List<Image> imageList = new List<Image>();
    protected override async Task OnInitializedAsync()
    {
        await GetFileUpload();
    }
    private void BeforeRemove(BeforeRemoveEventArgs args)
    {
        args.PostRawFile = false;
    }
    private void OnRemove(RemovingEventArgs args)
    {
        foreach (var removeFile in args.FilesData)
        {
            if (File.Exists(Path.Combine(@"wwwroot\", removeFile.Name)))
            {
                File.Delete(Path.Combine(@"wwwroot\", removeFile.Name));
            }
        }
    }
    async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var imageFiles = e.GetMultipleFiles();
        var format = "audio/mpeg";
        foreach (var item in imageFiles)
        {
            var image = new Image();
            var buffer = new byte[item.Size];
            await item.OpenReadStream(1572864000).ReadAsync(buffer);
            var imgUrl = $"data:{format};base64,{Convert.ToBase64String(buffer)}";

            iamgeDataUrls.Add(imgUrl);
            image.ImageName = item.Name;
            image.Data = buffer;
            image.PartId = 1;
            imageList.Add(image);
        }
    }
    public async void FileUpload()
    {
        foreach (var item in imageList)
        {
            uploadFile.SaveFile(item);
        }


    }
    public async Task GetFileUpload()
    {
        imageList = await uploadFile.GetFile(1);
        var format = "audio/mpeg";
        foreach (var item in imageList)
        {
            var imgUrl = "data:audio/mpeg" + $";base64,{Convert.ToBase64String(item.Data)}";
            iamgeDataUrls.Add(imgUrl);
        }
    }
}
