@layout AdminLayout
@page "/admin/new"
@using LearnOnline.Models
@using LearnOnline.Models.Entities
@inject INewService newService
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager
<h3>NewAdmin</h3>
<button class="btn btn-primary float-end" @onclick="CreatePart">
    <i class="oi oi-plus"></i> Create new 
</button>
<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in News)
        {
            <tr>
                <td>
                     <img src="../image/@item.Image" style="height:200px;width:auto" alt="">
                </td>
                <td>@item.Title</td>
                <td>
                </td>
                <td>@item.Description </td>
               
                <td></td>
                <td>
                    <button class="btn btn-primary" >
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    private static List<New> News = new List<New>();
    protected override async Task OnInitializedAsync()
    {
        await newService.GetNews();
        News = newService.News;
        var partId = 1;
    }
    void CreatePart()
    {
        NavigationManager.NavigateTo("admin/CreatePart");
    }
     void EditProduct(int productId)
    {
         NavigationManager.NavigateTo("admin/CreatePart");
    }
 }