@layout AdminLayout
@page "/admin/reading"
@using LearnOnline.Models
@using LearnOnline.Models.Entities
@inject IPartService partService
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService session

<h3>Reading</h3>
<button class="btn btn-primary float-end" @onclick="CreatePart">
    <i class="oi oi-plus"></i> Create Question
</button>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Category</th>
            <th>Answer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= Parts.Count; i++)
        {
            var x = @Parts[i - 1].Id;
            var cateogryId = @Parts[i - 1].CategoryId;
            var category = categories.FirstOrDefault(s => s.Id == cateogryId);
            <tr>
                <td>@i</td>
                <td>@Parts[i - 1].Title</td>
                <td>
                    @category?.CategoryName
                </td>
                <td>
                    @*<div class="btn btn-primary">
                        <a href="/admin/createAnswer/@Parts[i-1].Id">
                        <i class="oi oi-copywriting"></i>
                        Đáp án
                        </a>
                        </div>*@
                    <button class="btn btn-primary" @onclick="(() => DA(x))">
                        <i class="oi oi-copywriting"></i>
                        Đán Án
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => EditProduct(x))">
                        <i class="oi oi-pencil"></i>
                    </button>
                    @*<button class="btn btn-primary" >
                        <i class="oi oi-pencil"></i>
                        </button>*@
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    private static List<Part> Parts = new List<Part>();
    private static List<Category> categories = new List<Category>();
    private string user;
    private string user1;
    protected override async Task OnInitializedAsync()
    {
        //check login
        var user = await session.GetItemAsync<string>("SessionUser");
        if (user != "admin@gmail.com")
        {
            NavigationManager.NavigateTo("login");
        }
        var listCategory = await _httpClient.GetFromJsonAsync<List<Category>>("api/Category");
        categories = listCategory;
        var response = await _httpClient.GetFromJsonAsync<List<Part>>("api/Part/SkillId?SkillId=1");
        Parts = response;
    }
    void CreatePart()
    {
        NavigationManager.NavigateTo("admin/CreateReading");
    }
    void EditProduct(int productId)
    {
        NavigationManager.NavigateTo($"admin/EditReading/{productId}");
        //  NavigationManager.NavigateTo($"admin/EditReading2");
    }
    void DA(int productId)
    {
        NavigationManager.NavigateTo($"admin/createAnswer/{productId}");
    }
}

